#accordion-wrapper div{
    width: 40px;
    transition: all 1s;


}


#accordion-wrapper div:hover{
    width: 400px;
    cursor: pointer;
    transition: all 1s;

}

body{
    background: rgb(1, 1, 100);
}
